<%= turbo_frame_tag :members_preview do %>
  <div class="members-preview-container">
    <div class="members-preview-header">
      <h3>
        Members
      </h3>
      <%= link_to "See all", config_project_members_path(config, project_id), class: "members-preview-view-all", data: {turbo_frame: :_top} %>
    </div>
    <div class="members-preview-grid">
      <% members.each do |member| %>
        <%= tag.img(
          class: "members-preview-avatar",
          src: member.avatar_url,
          alt: member.name,
          title: member.name
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
