.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.project-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid transparent;
}

.project-item:hover {
  border: 1px solid var(--orange);
}

.project-item-name {
  font-size: 18px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-item-description {
  font-size: 12px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-item-separator {
  margin: 0 4px;
}

.project-item-link {
  padding-top: 2px;
  text-decoration: none;
  font-size: 12px;
}

.project-members-gird {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.members-preview-avatar {
  width: 34px;
  height: 34px;
  border-radius: 100%;
}

.project-members-header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.project-members-header {
  font-weight: bold;
}

.project-members-card {
  padding: 16px;
  border-radius: 24px;
  background-color: #fff;
  height: max-content;
}

.project-general-info-card {
  padding: 16px;
  border-radius: 24px;
  background-color: #fff;
  grid-column: span 3 / span 3;
  height: max-content;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}

.project-general-info-header {
  margin-bottom: 16px;
  font-weight: bold;
}

.project-general-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.project-general-info-grid-title {
  color: gray;
}
