.project-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.project-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 24px;
  background-color: #fff;
  border: 1px solid transparent;
}

.project-item:hover {
  border: 1px solid var(--orange);
}

.project-item-name {
  font-size: 18px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-item-description {
  font-size: 12px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-item-separator {
  margin: 0 4px;
}

.project-item-link {
  padding-top: 2px;
  text-decoration: none;
  font-size: 12px;
}
